<% include  ./partials/header %>




<div class="landing container">
    <!-- <h1>EL CAJON CITY SOCIAL APP: EVENTS, SHOPS & MORE</h1> -->
    <h1>El Cajon City Social App: Events, Shops & More</h1>
    <div class="menu-listing row">
    
            <a href="/localshops">SHOPS</a>
            <a href="/events">EVENTS</a>
            <a href="/events">NEWS</a>
            <a href="/events">MEDIA</a>
            <a href="/events">LETTERS</a>
            <a href="/register">SIGN IN</a>
            <a href="/login">LOGIN</a>
             
    </div>
    
</div>





<% include  ./partials/footer %>