<% include  ../partials/header %>

<h1>Create a new Local Shop </h1>

<form action="/localshops" method="POST">
    <input type="text" name="name" placeholder="name"><br>
    <input type="url" name="image" placeholder="image url"><br>
    <input type="text" name="service" placeholder="service"><br>
    <input type="text" name="address" placeholder="address"><br>
    <input type="tel" name="phone" placeholder="phone"><br>
    <button> Submit </button>
</form>

<% include  ../partials/footer %>